@model Domain.Entities.Contatos.Telefone

@{
    ViewData["Title"] = "Detalhes Telefone";
}

<h2>Detalhes Telefone</h2>

<div>
    <h4>Telefone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefoneTipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefoneTipo.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.TelefoneId">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar para a Lista</a>
</div>
