@model IEnumerable<Domain.Entities.Contatos.Telefone>

@{
    ViewData["Title"] = "Telefone";
}

<h2>Telefone</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneTipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneTipo.Descricao)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.TelefoneId">Editar</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.TelefoneId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TelefoneId">Deletar</a>
            </td>
        </tr>
        </tr>
}
    </tbody>
</table>
