@model Domain.Entities.Pessoas.Profissoes.ProfissaoPessoa

@{
    ViewData["Title"] = "Detalhes Profissão Pessoa";
}

<h2>Detalhes Profissão Pessoa</h2>

<div>
    <h4>Profissão Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profissao.CBO)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar para a Lista</a>
</div>
