@model Domain.Entities.Contatos.EnderecoPessoa

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnderecoPessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Bairro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
