@model Domain.Entities.Pessoas.Profissoes.ProfissaoCliente

@{
    ViewData["Title"] = "Detalhes Profissão Cliente";
}

<h2>Detalhes Profissão Cliente</h2>

<div>
    <h4>Profissão Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profissao.CBO)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar para a Lista</a>
</div>
