@model Domain.Entities.Pessoas.Juridica

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Juridica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InscricaoEstadual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InscricaoEstadual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFundacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFundacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JuridicaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
